@using PlatinumLife.Models
@model Invoice

@{
    ViewData["Title"] = "Update Invoice";
}

<div class="row-text">
    <div class="">
        <p>
            <h2>Update Invoice </h2>
        </p>
            <div>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-content">
                        <div class="form-group">
                            <label asp-for="Submitter"> </label>
                            <input asp-for="Submitter" class="input" />
                            <span asp-validation-for="Submitter" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Department"> </label>
                            <select asp-for="Department" asp-items="Html.GetEnumSelectList<Platinum_Life.Data.Department>()" class="select-box">
                                <option selected="selected" value="">Please select</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-content">
                        <div class="form-group">
                            <label asp-for="InvoiceDate"> </label>
                            <input asp-for="InvoiceDate" class="form-control" />
                            <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PaymentDate"> </label>
                            <input asp-for="PaymentDate" class="form-control" />
                            <span asp-validation-for="PaymentDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-content">
                        <div class="form-group">
                            <label asp-for="PaymentRecipientName"> </label>
                            <input asp-for="PaymentRecipientName" class="input" />
                            <span asp-validation-for="PaymentRecipientName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PaymentRecipientBank"> </label>
                            <input asp-for="PaymentRecipientBank" class="input" />
                            <span asp-validation-for="PaymentRecipientBank" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-content">
                        <div class="form-group">
                            <label asp-for="PaymentRecipientAccount"> </label>
                            <input asp-for="PaymentRecipientAccount" class="input" />
                            <span asp-validation-for="PaymentRecipientAccount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PaymentDescription"> </label>
                            <input asp-for="PaymentDescription" class="input" />
                            <span asp-validation-for="PaymentDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SigningManager"> </label>
                        <input asp-for="SigningManager" class="input" />
                        <span asp-validation-for="SigningManager" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="submit" onclick="openPopUp()">
                        <div class="popup" id="popup">
                            <h2>Invoice Updated Successfully</h2>
                            <p>Your Invoice was updated successfully. Thanks!</p>
                            <button type="button" onclick="closePopUp()">OK</button>
                        </div>
                        <a class="button-back" asp-action="Index"><i class="bi bi-arrow-return-left"></i>Back</a>
                    </div>
                    <script>let popup = document.getElementById("popup")

                        function openPopUp() {
                            popup.classList.add("open-popup");
                        }

                        function closePopUp() {
                            popup.classList.remove("open-popup");
                        }</script>
                </form>
        </div>
    </div>
</div>